.contact-div{
    background-color: #4A50BB;
    display: flex;
    flex-direction: row-reverse;
    min-width: 100%;
    margin-bottom: 20px;
    min-height: 100vh;
    position: relative;
    outline:none;
    top:60px;
    bottom:0px;
    border:none;
    

}
.contact-div:before{
    content:'';
    position:absolute;
    bottom: 0px;
    left: 0;
    border-collapse: collapse;
    width: 100%;
    height: 200px;
    background-color: #fff;
    clip-path: polygon(100% 20%, 30% 100%,100% 100%);
}
.contact-form{
    
    height: 450px;
    position: absolute;
    left:40px;
    
    background-color: #E1E9F6;
    bottom:80px;
    border-top-left-radius: 50px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 40px;
   
}
.contact-div > :nth-child(1){
    margin-top:50px;
    max-width:400px;
}
.side-contact-div > h1{
    color:white;
    text-transform: capitalize;
}
.side-contact-div > p{
    color:#fff;
    max-width: 300px;
    padding:10px;
}
textarea{
    background-color: #E1E9F6;
    outline:none;
    border: none;
    border-radius: 10px 0px 20px 0px;
    text-transform: capitalize;
    
    height: 200px;
    margin-bottom:10px;
    margin-top:10px;
    box-shadow: 2px 8px 10px 2px rgba(0, 0,0, 0.4);
} 
.contact-form > button{
    
    color:#4A50BB;
    padding:10px 40px;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 2px 8px 10px 2px rgba(0, 0,0, 0.4);
    border:none;

    cursor: pointer;

    font-weight: 600;
    text-transform: capitalize;
    margin-right: 0;
}
.contact-form > button:hover{
    background-color: #4A50BB;
    color:#E1E9F6;
     
}
.contact-form > input[type="text"]
{ 
    margin-top:4px;
    border:none;
    border-bottom: 1px solid gray;
    outline:none;
    min-width: min-content;
    color:inherit;
    background-color: transparent;
}
.contact-form > label{
    position:reative;
    tp:-30px;
    bottom:20px;
    text-transform: capitalize;
    font-size:14px;
  left:0px;
  rght:10px;
    margin:5px;
    padding:5px;
    
    pointer-events: none;
    transition: .3s ease-out;
    ;
}
input:focus + label{
transform: translateY(-18px);
color:#ff652f
}

@media (max-width:765px) {
    
    
    .contact-div{
        
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        
    }
    .contact-form{
        margin-top: 240px;
        width: 90%;
        position: inherit;
        left:0;
    }
    
    .side-contact-div{
 text-align: center;
 margin: auto;
    }
    }
    @media (max-width:320px){
        .contact-div{
            max-width: 100vw;
            box-sizing: border-box;
            background-color: green;
            margin:0;
        }
        .contact-form{
       width:100% ;
        }
        textarea{
            width: 80%;
        }
    }

    