.first-content{
    display: flex;
    
    justify-content: space-around;
    width: 90%;
    margin:10px auto;
    
    
}
.text-div{
    max-width: 90%;
    margin-top:30px;
}
.text-div > p{
    
    padding:10px;
    line-height: 25px;
}
.text-div > h2{
    text-transform: capitalize;
    
    color:#4A8CBB;
    padding: 10px;
}
.text-div > button{
    padding:10px 30px;
    font-weight: 500;
    background-color: #4A8CBB;
    line-height: 20px;
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    margin-left: 13px;
    border:none;
    border-radius: 5px 0 5px;
}
.text-div > button:hover{
background-color: #00828c ;
color:#fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
    
    .first-content{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        
        display: flex;
        flex-direction:column
    }
    .text-div{
     
     
     width: 90%;
    
     }
    .text-div > h2 {
    
        
        width:180px;
        padding:10px;
        
        
    
    }
    .text-div > p{
        color:black;
        margin:  5px auto;
        padding: 10px;
        text-align: justify;
        font-size: 16px;
       
        
        }
    .text-div > button {
    width: 180px;
    margin:0 auto ;
    color: #ffff;

    
    }
    .img-div{
        display: grid;
        place-items: center;
    }
    .img-div > img{
        max-width: 300px;
         height: 250px;
        margin-left: auto;
        margin-right: auto;
        
    }
}
 
