.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 90%;
    height: 100%;
    margin-top:100px;
    position: relative;
  
    
}
footer{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.footer-text{
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
.footer-text > h1{
  
  
    font-size: 18px;
    
    
    
    text-transform: uppercase;
}
.footer-text > p{
    text-align: center;
    width: 300px;
    margin-left: 100px;
    line-height: 25px;
    padding: 10px;
}
.footer::before{
    content:"";
    position:absolute;
    bottom:0;
    top:400px;
    width: 900px;
    border-bottom:2px solid gray;

}
 
 
.footer > .social-icon{
    display: flex;
    position:relative;
    justify-content: space-around;
    width: 400px;
}

@media (max-width :786px){
    .footer{
        margin-left:0px;
        
        margin-bottom:50px;
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        margin-top:150px;
        background-color: #333;
        color:#ffff;
        flex-wrap:wrap;
        justify-content: center;
    
    }
    .footer-text{
       width:80%; 
      
       
    }
    .footer-text > h1{
        max-width: 80%;
    
        font-size: 14px;
        word-wrap: break-word;
        }
    .footer-text > p{
         max-width: 80%; 
        text-align: center;
        margin-left:10px;
        font-size: 12px;
        
        

    }
    
    .icon{
       margin:0 -50px 0 -60px; 
       cursor: pointer;
    }
}

    