
.firs-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    
    }

.main-div{
    margin:10px;
    margin-top:30px;
}
.fourth-component-container{
  margin-top:40px;
}
.heading-content-container > h1{
text-align: center;
color:#4A8CBB;
text-transform: capitalize;
font-size: 25px;
}

.cols > img{
    display: block;
    
    
  }

.cols > h3{
  width: 300px;
  
  
}
  
@media (max-width:765px){
    
  
  .heading > h1{
   max-width: 300px;
   
}
  .fourth-component-container{
    margin-top:80px;
    width: 100%;
  }
  firs-row > .cols{

    width: 100vw;
  }

  .cols > p{
    font-size: 14px;
    padding:5px;
    max-width: 300px;
    margin-left: -20px;
     word-wrap: break-word;
    }
  
  
  .firs-row{
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    }
    .cols div > img{
    width:100px;
    height: 100px;
    margin:0 auto;
    
  }

}
@media (max-width:320px){
  .cols{
    display: flex;
    flex-wrap: wrap;
    
  }
  .cols > h3{
    word-wrap: break-word;
    margin-left: -20px;
  }
  .cols > p{
    width: 250px;
    word-wrap: break-word;
    
  }
  .fourth-component-container{
    margin-top:140px;
    
    
  }
}