
.firs-row{
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    
}

.main-div{
    margin:10px;
    margin-top:30px;
}
.fourth-component-container{
  margin-top:40px;
}
.heading-content-container > h1{
text-align: center;
color:#4A8CBB;
text-transform: capitalize;
font-size: 25px;
}
.cols{
    
}
.cols > img{
    display: block;
    
    
  }

.cols > h3{
  width: 350px;
  text-align: center;
  
}
  
@media (max-width:765px){
    
  
  .heading > h1{
  margin-left: auto;
  margin-right: auto;
   margin-bottom:10px;
   margin-top:0px;
   
}
  .fourth-component-container{
    margin-top:80px;
    width: 100%;
  }
  .cols{
    margin:0 auto;
  }

  .cols > p{
    font-size: 18px;
    padding:5px;
    max-width: 100%;
     word-wrap: break-word;
    }
  
  
  .firs-row{
    grid-template-columns: 1fr;
    }
    .cols div > img{
    width:100px;
    height: 100px;
    margin:0 auto;
    
  }

}