.main-header{
    display: flex;
    justify-content: space-between;
    padding:1rem 2rem;
    background: #00828c;
    position:relative;
    align-items: center;
    color:white;
    
}

.main-header > img{
    width: 80px;
    height: 40px;
    margin-left: 20px;
    margin-top:6px;
    
}
.link{
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 20px;
    cursor: pointer;
    color:white;
    min-width: fit-content;

}
.link:hover{
    background-color: #005469;
}
.btn{
    background-color: #4A8CBB;
    width: 120px;
}

.staff-image{
    display: flex;
    margin-top:10px;

}
.img1{
    width: 90%;
    margin:0 auto;
}
Link{
    cursor: pointer;
}


.mobile-menu-icon{
    display: none;
}
.nav-link{
    display: flex;
    
    

}
@media only screen and (max-width:640px){
.header-logo{
    display: flex;
    position:absolute;
    top:15px;
    left:20px;
}
.main-header{
    max-width: 100vw;
    padding:5px;
    background: #00828c;
    display: flex;
    }

.nav-link{
    display: none;

}
 
.nav-link-mobile{
    position:absolute;
    display: flex;
    flex-direction: column;
    background-color: #005469;
    left:0;
    top:75px;
    transition: all 0.5s ease-out;
    min-height: 300px;
    max-width: fit-content;
}
.mobile-menu-icon{
 display:block;
margin-left: 150px;
 background-color: #00828c;
 color:white;
 
 
min-width:100px;
}

.btn{
    margin-left:170px;
}
.staff-image{
    display: flex;
    position: relative;
    margin-top:50px;
    width: 100%;
    height: 100%;
}
.staff-image > img{
    width: 100%;
    max-height: 200px;
}
}