.login-container{
    background-color: #ffff;
    height:100%;
    width: 100%;
    margin-top:0px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin:0;
    padding: 0;
    }
.login-form{
    background-color: #333;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 7px 10px 4px rgba(0, 0, 0, 0.5);

    margin-top:40px;
    align-items: center;
    margin-bottom: 40px;
    border-radius: 30px;
    flex-wrap: wrap;

}
.login-form > h2{
    font-weight: 600px;
    font-size:25px;
    margin-top:40px;
    text-align: center;
    text-transform: capitalize;
    margin-top:60px;
    margin-left: 10px;
    color:white;
    line-height:100px;

    
}
.login-form > :nth-child(2){
    
    font-size:16px;
    color:gray;
    text-transform: capitalize;

}
.login-form > input[type="text"], input[type="password"]{
    padding:8px 0px;
    border-radius: 0;
    outline: none;
    border: 1px solid gray;
    width: 380px;
    border: none;
    border-bottom: 1px solid gray;
    display: block;
    box-sizing: border-box;
    
}
input:focus{
    border-bottom:2px solid dodgerblue;
}

.login-form > input[type="checkbox"]{  
  
}


button{
    padding: 5px 10px;
    background-color: #4A8CBB;
    border-radius: 5px ;
    margin-left: 50px;

    color:transparent;
    z-index: 1000;
    text-transform: capitalize;
}
.checkbox-section{
    color:white;
    margin-left:30px;
    display: flex;
    
    padding: 0px;
    width: 300px;
    
   
    
    
}
section > input[type="checkbox"]{
    margin-right: 10px;
    
}
  #checkbox-id{
    width: 200px;
     }
    section > :nth-child(2){
    
    width: 160px;
    margin-left: 0px;
    font-weight: 500;
    text-transform: capitalize;
    
    
}
button:hover{
    background-color: rgba(24, 24, 133, 0.589);
}
section > a{
    margin:0 auto;
    width: 300px;
    
   text-transform: capitalize;
    text-decoration: none;
    display: block;
}
label{
    font-weight: 500;
    color:white;
}
.login-form > #btn-id{
    width:60%;
    padding:5px;
    
    color:white;
    outline: none;
    border:none;
    border-radius: 5px;
    
    
}
span{
    position: relative;
    top:30px;
    font-size: 14px;
}
span::before{
    content: '';
    position: absolute;
    border-bottom: 1px solid white;
    bottom:90px;
    width: 70px;
    left: -75px;
    top:10px;
    right: 120px;
}
 
  
span::after{
    content: '';
    position: absolute;
    border-bottom: 1px solid white;
    bottom:10px;
    width: 70px;
    left: 50px;
    top:12px;
}
#btn-id{
    background-color:  #4A8CBB;
    color:#ffff;
    border:1px solid black;
    border-radius:5px;
    width:180px;    
}

.links{
    text-decoration: none;
    margin-left: 10px;
    background-color: #4A8CBB;
    padding-left:5px;
    padding-right: 5px;
    font-size: 14px;
    padding-bottom:5px;
    color: white;
    border-radius: 25px;
    text-transform: capitalize;
}
@media (max-width:760px){
   .login-form{
    max-width: 100%;
   } 
   .login-container{
    width: 100%;
   }
   
   .login-form > input[type="text"], input[type="password"]{
    
   
    
    width: 250px;
    margin-right: auto;
    margin-left: 30px;}
label{
    margin-right:auto;
    margin-left:20px;
}
.checkbox-section{
    width: 300px;
    margin-left: 10px;
}
#btn-id{
    margin-right: auto;
    
}
button{
    margin-right: auto;
}

}


@media (max-width:320px){
   .login-form{
    min-width: 300px;
    
   } 
   .login-container{
    min-width: 100%;
   }
   
   .login-form > input[type="text"], input[type="password"]{
    
   
    
    width: 240px;
    margin-right: auto;
    
}
label{
    margin-right:auto;
    margin-left: 50px;
}
.checkbox-section{
    width: 280px;
    margin-left: 10px;
}
#btn-id{
    margin-right: auto;
    
}
button{
    margin-right: auto;
}
.login-form > h2{
    max-width:230px;
}
}
