.firstprogram-content{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
   
   align-items: center;
   gap:10px;
   margin-top:30px;
   margin-left:auto;
   margin-right: auto;
   margin-bottom: 30px;
}
.program-heading-one{
    
    padding:10px;
    margin-top:40px;
    font-size:24px;
    text-align: center;
    text-transform: uppercase;

}
.heading_content{
    padding: 0 20px 0 20px;
}
.prgrm-second-col{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}
  .program-content{
    max-width: 500px;
    line-height: 24px;
    padding: 10px;
    text-align: justify;
    margin-left: 40px;
    position:static;
    display: flex;
    flex-direction: column;
}
 .program-img >  img{
    max-width: 400px;
    height: 300px;
    
}
.prgrm-second-col >button{
    background-color:#4A8CBB ;
    height: 40px;
    width:120px;
    padding:5px;
    margin-top:150px;
    margin-right: 300px;
    border-radius: 4px;
    text-transform: uppercase;
}
button{
    border: none;
    color:#ffff;
}
.seconds-cols{
    display: flex;
    justify-content: space-around;
    background-color: #f7f8fa;
}
.seconds-cols > :nth-child(1){
    margin-left: 30px;
    max-width: 500px;
    margin-top:30px;
    
}
.seconds-cols > :nth-child(2){
    
    max-width: 500px;
    margin-top:30px;
    text-align: justify;
}
.first-row > h2{
    color:#4A8CBB;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 30px;
}
.first-row > p{
    max-width:450px;
    padding: 10px;
    line-height: 25px;
    text-align: justify;
}
.third-cols{
    display: flex;
    margin-top:30px;
    justify-content: space-around;
    align-items: center;
}
.third-cols > :nth-child(1){
margin-top:50px;
}
.third-col-text{
    max-width: 500px;
    margin-left: 40px;

    line-height: 30px;
}
.third-col-text > h2{
    text-transform: uppercase;
    font-size: 20px;
    color:#4A8CBB

}
.third-col-text > button{
background-color: #4A8CBB;


}
.third-col-text > :nth-child(2){
    
    margin-top:20px;
    border-radius: 5px;
    text-transform: capitalize;
}
.third-col-text > #btnid{
    border-radius: 5px;
    margin-top:5px;

    text-transform: capitalize;
}
.fourth-row{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.fourth-text{
    width:600px;
}
.fourth-text > :nth-child(1){
color:#4A8CBB;
}
.heading-text{
    font-size: 20px;
    text-transform: uppercase;
    margin-top:50px;
    color:#4A8CBB;
}
.image-divs > img{
    width:1000px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-bottom:10px;
    width:90%

}
#btnsid{
    width: 120px;
    margin-left:65px;
    margin-top:20px;
    border-radius: 5px;
    padding:5px;
    margin-bottom:20px;
    background-color: #4A8CBB;
    
}
.fifth-row{
    display: flex;
    margin:10px;
    justify-content: space-around;
    position: relative;
}
.rows-text{
    
    flex-basis: 40%;
}
.rows-text > :nth-child(1){
    color: #4A8CBB;
    padding: 5px;
    text-transform: uppercase;
    font-size: 20px;
}
.rows-text > :nth-child(2){
    line-height: 25px;
    width: 450px;
}
.rows-text > :nth-child(3){
    background-color: #4A8CBB;
    text-transform: uppercase;
    border-radius: 5px;
    padding:5px;
}
.fifth-row > :nth-child(2) {
    margin-top: 40px;
    width: 500px;
   
    margin-right: 50px;

}

.rows-image >img{
    max-width:450px;
    margin-bottom:10px;
}
.fifth-row::after{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    width: 900px;
    border-bottom:2px solid gray;

}
@media (max-width:765px) {
    .firstprogram-content{
        display:flex;
        flex-direction:column;
        }
    .program-heading-one{
        margin-left: auto;
        margin-right:auto;
        
        
    }
     .program-img >  img{

     max-width: 320px;
    height: 300px;
    
}
    
    .prgrm-second-col{
        
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .program-content{
        display:flex;
        min-width: 300px;
        margin-top:10px;
        gap:5px;
        align-items:center;
        margin-right: 40px;
    }
    .program-content > p{
        text-align: justify;
    }
    .para > P{
       
        width: 300px;
        display: flex;
        font-size: 18px;
        align-items: justify;
        background-color: white;
       }
       .prgrm-second-col > button{
        margin-bottom:120px;
        margin-left:auto;
        margin-top:-20px;
        margin-right:auto;
       }
       .seconds-cols{
        display: flex;
        flex-direction: column;
        width: 425px;
        
       }
       .first-row{
        width:80%;
        margin-left: auto;
        margin-right: auto;
       }
       .first-row > p{
        max-width: 280px;
        margin-left: -20px;
        margin-right:20px;

       }
       #btnsid{
      min-width: fit-content;
      color:rgb(209, 202, 202);
      border:none;
       }
       .checkbox-div{
        width:320px;
        margin-left: 0;
        line-height: 20px;
        margin-right:0;
        padding:10px;

       }
       .seconds-cols{
        margin:auto;
       }
       .third-cols{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        
       }
       .third-col-text{
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        
    
        }
        .third-col-text > button{
        
        margin-right: 30px;
        }
       .third-cols .image{
        max-width: 320px;
        
       }
       .third-cols .image > img{
        max-width: 220px;
       }
       .fourth-row{
        display: flex;
        flex-direction: column;
       
        align-items: center;
       }
       .fourth-text{
        margin-left: auto;
        margin-right: auto;
        max-width: fit-content;
       }
       .fourth-text > h4{
        
        
        padding: 10px;
        text-align: center;
       }
       .fourth-text > p{
        margin-left:auto;
        margin-right:auto;
        padding:10px;
        text-align: justify;
        
        
       }
       #btnids{
        border: none;
        color:#ffff
       }
     .imagedivs{
        max-width:100%;
        
        display: grid;
       
       }
       .seconds-cols{
        widows: 100%;
       }
       .imagedivs > img{
        max-width:80%;
        height:200px;
        margin-left:auto;
        margin-right:auto;
       }
       #btnsid{
        padding:10px 20px 10px 20px;
        font-size:16px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        
       }
       .checkbox-content{
        width:300px ;
        margin-left: 0;
        margin-right: 0px;
    
       }
       .fifth-row {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-right: 50px;
       } 
       .rows-text{
        display: flex;
        flex-direction: column;
        max-width:90%;
        
        align-items: center;
        
       }
       .rows-text > h3{
        width: 300px;
        margin-left: 40px;
        margin-right: auto;
       }
       .rows-text > p{
        
        
        max-width:290px;
        text-align: justify;
        margin-right:auto;
        
       }
       .rows-image {
        max-width: 100%;
        display: grid;
   

       }
       
       .rows-image > img{
        width: 280px;
        margin-left:-25px;
        
        
        display: block;
    
       }
       .rows-text > :nth-child(2){
        
       }   
}


