.secondcol{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-arond;
    margin-top:40px;
    gap:20px;
    margin-left: auto;
    margin-right: auto;
}
.firsts-row > h1{
    text-align: center;
}
.firsts-row{
    
    background-color: #F3EEEE;
    width:90%;
    text-align: justify;
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    box-shadow: 0 7px 10px 4px rgba(0, 0, 0, 0.5);
}
.firsts-row > h1{
    
    text-transform: uppercase;
    font-size: 20px;

    line-height: 20px;
}
.firsts-row > p{
    max-width: 350px;
    line-height: 25px;
    
}

@media only screen and (max-width:768px){
    .main-div{
        
        height:100%;
        position:relative;
        top:140px;
  
        bottom:0;
    }
   
    .firs-row > h2, p {
        text-align: center;
        margin:5px;
        max-width: 300px;
    }
    .firs-row :nth-child(1){
        display: flex;
        flex-direction: column;
        margin-top:30px;
        } 
    .firs-row > :nth-child(1) > p{
        text-align: center;
        margin-top:10px;
    }
    .firs-row > .cols > img{
        max-width:80px;
        margin-left: 100px;
    }
    .firs-row > .cols  {
        display: flex;
        max-width: 300px;
        flex-direction:column; 
        margin-top:30px;

        }
        .secondcol{
            
            gap:20px;
            grid-template-columns: max-content;
            
        }
        .firsts-row{
            
            
    
            flex-direction: column;
            max-width:70% ;
            
            
        }
        .secon-row > h2 p{
            text-align: center;
        }
        .secon-row > .cols  > img{
            
            margin-left:130px;
            
        }
}
@media (max-width:320px){
.firsts-row{
    width: 90%;
    margin-left: -20px;
    
}

}